h1 {
    background: linear-gradient(45deg, #1a53ff, #00134d);
    color: white;
    text-align: center;
    padding: 1%;
}

h2 {
    font-weight: bold;
}

textarea {
    resize: none;
    font-size: 20px;
    border-radius: 3px;
    width: 235px;
    height: 25px;
}

.searchbtn {
    width: 243px;
    background-color: #33ccff;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e9e9f8;
}

hr {
    border: 0; border-top: 1px solid black;
    margin-top: 14px;
}

.citybtn {
    width: 243px;
    background-color: rgb(202, 200, 200);
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 200);
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: inline-flex;
}

h3 {
    font-size: 29px;
}

.todays-details {
    border: black solid 1px;
    display: flex;
    width: 75vw;
    /* padding-bottom: 20px; */
    padding-left: 10px;
}

p {
    font-size: 18px;
}

.five-days-boxes {
    border: black solid 1px;
    display: flex;
    /* padding-bottom: 20px; */
    padding-left: 10px;
    width: 75vw;
}

.weather {
    display: inline-flex;
    flex-direction: column;
}

.container-days {
    border: black solid 1px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.day1, .day2, .day3, .day4, .day5 {
    border: black solid 1px;
    width: 25vh;
    padding-bottom: 200px;
    background-color: #778499;
    color: white;
}
